absl-py==0.9.0
anyio==2.2.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.2.7
astor==0.8.1
async-generator==1.10
attrs==19.3.0
Babel==2.9.0
backcall==0.1.0
beautifulsoup4==4.9.2
bleach==3.1.5
bs4==0.0.1
cachetools==4.1.0
certifi==2019.9.11
cffi==1.14.5
chardet==3.0.4
cloudpickle==1.6.0
colorama==0.4.1
configparser==4.0.2
crayons==0.3.0
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
defusedxml==0.7.1
Django==3.0.6
djangorestframework==3.11.0
entrypoints==0.3
gast==0.2.2
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.28.1
gurobipy==9.1.1
h5py==2.10.0
idna==2.8
imagecodecs==2020.2.18
imageio==2.8.0
importlib-metadata==3.7.2
inputs==0.5
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
joblib==0.14.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyterlab==3.0.10
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
jupyterlab-widgets==1.0.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
llvmlite==0.36.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==5.4.1
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.4
notebook==6.2.0
numba==0.53.1
numpy==1.18.2
oauthlib==3.1.0
opt-einsum==3.2.1
packaging==20.3
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.1
pickleshare==0.7.5
Pillow==7.1.2
pip-autoremove==0.9.1
plotly==4.14.3
pooch==1.1.0
prometheus-client==0.9.0
prompt-toolkit==3.0.16
protobuf==3.11.3
psutil==5.5.0
psycopg2==2.8.5
py4j==0.10.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.1
Pygments==2.6.1
pyparsing==2.4.7
PyQt5==5.13.2
PyQt5-sip==12.7.0
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
pywin32==300
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==22.0.3
rawpy==0.14.0
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rlbot==1.32.1
rsa==4.0
scikit-image==0.17.1
scikit-learn==0.22.2.post1
scipy==1.4.1
selenium==3.141.0
Send2Trash==1.5.0
shap==0.39.0
six==1.14.0
slicer==0.0.7
sniffio==1.2.0
soupsieve==2.0.1
sqlparse==0.3.1
tabulate==0.8.9
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tifffile==2020.5.7
torch==1.8.1
torchvision==0.9.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
treys==0.1.3
typing-extensions==3.7.4.3
Unidecode==1.2.0
urllib3==1.25.7
Wand==0.6.6
wcwidth==0.1.9
webdriver-manager==2.2.0
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.3.3
XlsxWriter==1.2.8
zipp==3.1.0
